.resident-dash{
    position: relative;
    height: 100vh;
    .content{
        position: relative;
        height: 85vh;

        .resident-navs{
            position: relative;
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid rgba(3, 3, 24, 0.158);
            height: 10vh;
            justify-content: center;
            align-items: center;
            .nav{
                position: inherit;
                border: 1px solid;
                padding: 1rem 2.5rem;
                cursor: pointer;
                margin-left: 1.5rem;
                transition: all .4s ease-in-out;
                &:hover{
                    border: none;
                    background-color: rgb(3, 3, 20);
                    color: rgb(238, 238, 238);
                    transition: all .4s ease-in-out;
                }
                &:nth-child(1){
                    background-color: rgb(3, 3, 20);
                    color: rgb(238, 238, 238);
                }
            }

        }

        .sections{
            position: relative;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-gap: 2rem;
            margin: 0 15rem;
            .sectionA{
                position: relative;
                height: 75vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    font-size: 2rem;
                    padding-bottom: 2.5rem;
                }
                form{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    input{
                        padding: 1.5rem;
                        font-size: 1.2rem;
                        margin-bottom: 1.5rem;
                        width: 500px;
                        border: 1px solid rgba(3, 3, 20, 0.411);
                    }

                    input[type="submit"]{
                        background-color: rgb(3, 3, 20);
                        color: rgb(238, 238, 238);
                        border: none;
                        font-weight: bold;
                    }
                }

            }
            .sectionB{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    padding: 2rem 0;
                }
                .users{
                    position: relative;
                    border: 2px solid rgba(3, 3, 20, 0.623);
                    border-radius: 10px;
                    padding: 1rem;
                    .user{
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        padding: .6rem 1rem;
                        justify-content: center;
                        align-items: center;
                        background-color: rgb(247, 247, 247);
                        margin-bottom: 1rem;
                        img{
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                        }
                        div{
                            padding: 0 2rem;
                            h5{
                                font-size: 1.1rem;
                                padding-bottom: .3rem;
                            }
                            h6{
                                font-size: .8rem;
                                padding-bottom: .3rem;
                            }
                            span{
                                font-size: .8rem;
                                font-style: italic;
                                color: rgb(119, 114, 114);
                            }
                        }
                        .btns{
                            input{
                                width: 80px;
                                border: none;
                                height: 35px;
                                cursor: pointer;
                                &:nth-child(2){
                                    background-color: rgb(3, 3, 20);
                                    color: rgb(241, 241, 241);
                                    margin-left: 1rem;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}