.navbar{
      display: flex;
      align-items: center;
      padding: 1.5rem 6rem;
      
      a{
            margin-right: 1.5rem;
            cursor: pointer;
            text-decoration: none;
            color: #131f2a;
            &:first-child{
                  flex: 0 0 1;
                  margin-right: 5rem;

                  font-weight: 600;
                  font-size: 2rem;

                  &:hover{
                        color: #131f2a;
                  }
            }
      }

      &__icons{
            flex: 0 0 1;
            margin-left: auto;
            display: flex;
            align-items: center;

            &__icon{
                  margin-right: 2rem;
                  font-size: 1.5rem;
                  cursor: pointer;

                  //border: 1px solid #ccc;
                  //padding: .3rem;
                  //border-radius: 50%;
            }

            .logout{
                  color: #131f2a;
                  text-decoration: underline;
                  &:hover{
                        background: none !important;
                        color: #3a93e1;
                  }
            }

            &__btn{
                  color: #131f2a;
                  background: none;
                  border: 1px solid #131f2a;
                  display: flex;
                  align-items: center;

                  padding: .4rem 1.3rem;
                  border-radius: 5rem;
                  transition: all .5s ease-in-out;


                  &__icon{
                        margin-right: .5rem;
                        font-size: 1.2rem;
                  }

                  &:hover{
                        color: #dedede;
                        border: none;
                        background: #131f2a;
                        transition: all .3s ease-in-out;
                  }
            }
      }
}


//shared navbar

.shared{
      position: relative;
      background-color: #ffffff;
      box-shadow: 0 1px 10px #cccccc92;
      grid-area: nav;

      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem 4rem;

      &__title{
            display: flex;
            align-items: center;
            font-size: 1.3rem;

            &__icon{
                  font-size: 2rem;
                  margin-right: 1rem;
                  cursor: pointer;
            }

      }

      &__input{
            flex: 0 0 1;
            margin: 0 auto;
            padding: .6rem 1rem;
            width: 15vw;

            border: 1px solid #ccc;
            border-radius: 5rem;
            outline: none;

            &:focus{
                  border: 1px solid #4d9be9;
            }
      }

      &__icon{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .95rem;
            cursor: pointer;

            .circle{
                  background-color: #f6f6f6;
                  width: 20px;
                  height: 20px;
                  border-radius: 5rem;
                  margin-right: .5rem;
            }

            &__btn{
                  font-size: 1.2em;
            }

      }
}